<div id="options_dir" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapseOne" data-parent="#options_dir" data-toggle="collapse" class="accordion-toggle">
        Options
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
      <div class="accordion-inner">
        Recursive
        Overwrite
      </div>
    </div>
  </div>
</div>
